<module>
    <manifestVersion>2.0.0</manifestVersion>
    <symbolicName>s2tbx-sen2cor-processor</symbolicName>
    <version>2.0.0</version>
    <name>Sentinel 2 Level 2A Processor</name>

    <description>Performs atmospheric correction on Sentinel 2 L1C products, thereby creating L2A products</description>

    <vendor>Telespazio VEGA Deutschland GmbH</vendor>
    <contactAddress>Europaplatz 5, 64293 Darmstadt (Germany)</contactAddress>
    <copyright>(C) 2014 Telespazio VEGA Deutschland GmbH</copyright>
    <url>https://github.com/senbox-org/s2tbx</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-ui</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>snap-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor,Sentinel 2</categories>

    <extension point="snap-ui:actions">

        <action>
            <parent>processing.thematicLand</parent>
            <id>level2AProcessor</id>
            <text>SEN2COR Level 2A Processor...</text>
            <class>org.esa.s2tbx.dataio.atmcorr.AtmosphericCorrectionAction</class>
            <operatorName>SEN2COR</operatorName>
            <dialogTitle>Level 2A Processor</dialogTitle>
            <shortDescr>Performs atmospheric correction on Sentinel2 L1C products</shortDescr>
            <description>Performs atmospheric correction on Sentinel2 L1C products, thereby creating L2A products</description>
            <context>product</context>
            <helpId>level2AProcessor</helpId>
        </action>

    </extension>

</module>