-out
$targetProductFile
-szx
$szx_int
-szy
$szy_int
-epsg
$epsg_int
-orx
$orx_float
-ory
$ory_float
-spx
$spx_float
-spy
$spy_float
-background
$background_float
-mode
$mode_string
-mode.binary.foreground
$foreground_float
-mode.attribute.field
$field_string