-in
$sourceProductFile
-filter.watershed.threshold
$threshold_float
-filter.watershed.level
$level_float
-mode.vector.out
$out_str
-mode.vector.outmode
$outmode_string
-mode.vector.neighbor
$neighbor_bool
-mode.vector.stitch
$stitch_bool
-mode.vector.minsize
$minsize_int
-mode.vector.simplify
$simplify_float
-mode.vector.layername
$layername_string
-mode.vector.fieldname
$fieldname_string
-mode.vector.tilesize
$tilesize_int
-mode.vector.startlabel
$startlabel_int