<module>
    <manifestVersion>2.0.0</manifestVersion>
    <symbolicName>s2tbx-python-lib</symbolicName>
    <version>2.0.0</version>
    <name>Sentinel 2 Python Lib</name>

    <description>Python Lib</description>

    <vendor>Telespazio VEGA Deutschland GmbH</vendor>
    <contactAddress>Europaplatz 5, 64293 Darmstadt (Germany)</contactAddress>
    <copyright>(C) 2014 Telespazio VEGA Deutschland GmbH</copyright>
    <url>https://github.com/senbox-org/s2tbx</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <dependency>
    </dependency>

    <categories>Library,Sentinel 2</categories>
</module>
