.idea/
modules/
target/
generated-sources/
*.iml
*.ipr
*.iws
*.class
*~
*.pyc
*.java.orig
#generated sources
s2tbx-reader-cs/src/main/generated-sources/
#maven temp output
dependencies.txt

# vscode
.project
.settings
.classpath
.factorypath
.vscode
launch.sh
snap-desktop.sh
gpt.sh
*~
