-in
$sourceProductFile
-channel
$channel_int
-parameters.xrad
$xrad_int
-parameters.yrad
$yrad_int
-parameters.xoff
$xoff_int
-parameters.yoff
$yoff_int
-parameters.min
$min_float
-parameters.max
$max_float
-parameters.nbbin
$nbbin_int
-texture
$texture_string
-out
$targetProductFile