<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s2tbx-reader</symbolicName>
    <version>1.0.0</version>
    <name>Sentinel-2 Product Reader</name>

    <description>Enables SNAP to read Sentinel 2 products of type L1C</description>

    <vendor>CS</vendor>
    <contactAddress>ZAC de la Grande Plaine,5 Rue Brindejonc des Moulinais, Toulouse Cedex 5, France </contactAddress>
    <copyright>(c) Copyright 2012-2014 by Brockmann Consult GmbH&lt;br/&gt;(c) Copyright 2014 by CS and contributors.&lt;br/&gt;All rights reserved.</copyright>
    <url>https://earth.esa.int/web/sentinel-tbx/home</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,Sentinel</categories>

    <extension point="snap-ui:actions">
        <action>
            <id>importSentinel2Product</id>
            <helpId>importSentinel2Product</helpId>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SENTINEL-2-MSI-L1C</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <parent>importMultispectral</parent>
        </action>
        <!-- Mock-up reader
                <action>
                    <id>importSentinel3Product</id>
                    <helpId>importSentinel3Product</helpId>
                    <class>org.esa.beam.visat.actions.ProductImportAction</class>
                    <formatName>SENTINEL-3-SLSTR</formatName>
                    <useAllFileFilter>true</useAllFileFilter>
                </action>
        -->
    </extension>

    <extension point="snap-core:rgbProfiles">
        <rgbProfile>
            <name>Sentinel 2 MSI L1</name>
            <red>B4</red>
            <green>B3</green>
            <blue>B2</blue>
        </rgbProfile>

    </extension>

</module>
