--resolution
$resolution
$sourceProduct.FileLocation
#if($sceneOnly)
--sc_only
#end
#if($crOnly)
--cr_only
#end
--GIP_L2A
#if($SEN2COR_BIN.toString().contains("Sen2Cor-02.05."))
$gip25L2A
#else
$gipL2A
#end