#set($targetName=$sourceProduct.FileLocation.AbsolutePath.replace("L1C", "L2A").replace("OPER", "USER"))
#if($sourceProduct.FileLocation.Directory)
    #set($fileList = $sourceProduct.FileLocation.listFiles())
    #foreach($file in $fileList)
        #if($file.Name.startsWith("S2A") && $file.Name.endsWith(".xml"))
            #set($targetName=$file.AbsolutePath.replace("L1C", "L2A").replace("OPER", "USER"))
        #end
    #end
#else
    #set($targetName=$sourceProduct.FileLocation.AbsolutePath.replace("L1C", "L2A").replace("OPER", "USER"))
#end
#set($fileClass=$sourceProductFile.Class.forName("java.io.File"))
#set($stringClass = $sourceProductFile.Class.forName("java.lang.String"))
#set($paramList = [$targetName])
#set($paramArray = $paramList.toArray())
#set($ctors = $fileClass.Constructors)

#foreach ($ctor in $ctors)
    #if ($ctor.toString() == "public java.io.File(java.lang.String)")
        #set($targetProductFile = $ctor.newInstance($paramArray))
    #end
#end
