#if(!($resolution.toString().equals("ALL")))
--resolution
$resolution
#end
#if($sourceProduct.FileLocation.Name.endsWith(".xml"))
$sourceProduct.FileLocation.ParentFile
#else
$sourceProduct.FileLocation
#end
#if($sceneOnly)
--sc_only
#end
#if($crOnly)
--cr_only
#end
--GIP_L2A
#if($useL2AGIPP)
$useL2AGIPP
#else
$gip28L2A
#end