<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s2tbx-reader-new</symbolicName>
    <version>0.6.0</version>
    <name>BEAM Sentinel-2 Reader Updated</name>

    <description>Enables BEAM to read Sentinel 2 products (MSI and L1c and L2A)
    </description>

    <vendor>Brockmann Consult GmbH and Array Inc</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH and Array Inc</copyright>
    <url>https://github.com/CS-SI/s2tbx</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,Sentinel</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importSentinel2ProductUpdate</id>
            <helpId>importSentinel2ProductUpdate</helpId>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SENTINEL-2-MSI</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <parent>importMultispectral</parent>
        </action>
        <!-- Mock-up reader
                <action>
                    <id>importSentinel3Product</id>
                    <helpId>importSentinel3Product</helpId>
                    <class>org.esa.beam.visat.actions.ProductImportAction</class>
                    <formatName>SENTINEL-3-SLSTR</formatName>
                    <useAllFileFilter>true</useAllFileFilter>
                </action>
        -->
    </extension>

    <extension point="beam-core:rgbProfiles">
        <rgbProfile>
            <name>Sentinel 2 MSI</name>
            <red>B11</red>
            <green>B9</green>
            <blue>B3</blue>
        </rgbProfile>

    </extension>

</module>