<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>suhet</symbolicName>
    <version>0.1-SNAPSHOT</version>
    <name>Sentinel Exploitation Tools</name>

    <description>Enables BEAM to read Sentinel 1, 2 and 3 Products and to perform an atmospheric correction for Sentinel 2 TOA radiances</description>

    <vendor>Brockmann Consult GmbH and Array Inc</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH and Array Inc</copyright>
    <url>https://github.com/bcdev/suhet</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>
    <dependency>
        <module>beam-geotiff</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,Sentinel</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importSentinel2Product</id>
            <helpId>importSentinel2Product</helpId>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SENTINEL-2-MSI</formatName>
            <useAllFileFilter>true</useAllFileFilter>
        </action>
        <action>
            <id>importSentinel3Product</id>
            <helpId>importSentinel3Product</helpId>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SENTINEL-3-SLSTR</formatName>
            <useAllFileFilter>true</useAllFileFilter>
        </action>
    </extension>

    <extension point="beam-core:rgbProfiles">
        <!-- todo -->
    </extension>

</module>