-y
-t
$TILE
-f
$FOLDER
#if($START)
-d
$START
#end
#if($end)
-e
$end
#end
#if($NBACKWARD)
--nbackward
$NBACKWARD
#end
#if($verbose)
-v
#end
#if($overwrite)
--overwrite
$overwrite
#end
#if($CAMS)
--cams
$CAMS
#end
#if($TYPE_DEM)
--type_dem
$TYPE_DEM
#end
#if($skipErrors)
--skip_errors
#end
#if($PLATFORM)
#if($PLATFORM!="auto")
--platform
$PLATFORM
#end
#end