-in
$sourceProductFile
-fout
$targetProductFile
-foutpos
$targetProductFile
-spatialr
$spatialr_int
-ranger
$ranger_float
-thres
$thres_float
-maxiter
$maxiter_int
-rangeramp
$rangeramp_float
-modesearch
$modesearch_bool