<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>lib-openjpeg</symbolicName>
    <name>OpenJpeg Library</name>
    <version>2.1.0</version>
    <packaging>dir</packaging>
    <native>true</native>
    <categories>Library,OpenJPEG</categories>

    <description>A wrapper module for the native libraries used to read data products in JPEG2000 format.</description>

    <vendor>CS</vendor>
    <contactAddress>ZAC de la Grande Plaine,5 Rue Brindejonc des Moulinais, Toulouse Cedex 5, France </contactAddress>
    <copyright>(c) Copyright 2014 by CS and contributors.&lt;br/&gt;All rights reserved.</copyright>
    <url>https://earth.esa.int/web/sentinel-tbx/home</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
    </dependency>

    <changelog>
        <![CDATA[
        <p>s2tbx-reader<br/>
            Redistributing OpenJpeg2000 2.1.0 libraries and binaries for all platforms<br/>
        </p>
        ]]>
    </changelog>

</module>
