<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s2tbx-commons</symbolicName>
    <version>1.0.0</version>
    <name>Sentinel-2 Toolbox Common Utilities Library</name>

    <description>This modules provides common tools for different modules of the Sentinel 2 Toolbox. It is an internal module.</description>

    <vendor>CS</vendor>
    <contactAddress>ZAC de la Grande Plaine,5 Rue Brindejonc des Moulinais, Toulouse Cedex 5, France </contactAddress>
    <copyright>(c) Copyright 2014 by CS and contributors.&lt;br/&gt;All rights reserved.</copyright>
    <url>https://earth.esa.int/web/sentinel-tbx/home</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <packaging>jar</packaging>

    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader, Sentinel-2</categories>

    <extension point="snap-ui:toolViews">

        <toolView>
            <id>org.esa.beam.ui.ConsoleToolView</id>
            <class>org.esa.beam.ui.ConsoleToolView</class>
            <title>Console View</title>
            <tabTitle>Console Info</tabTitle>
            <description>Display logged messages</description>
            <helpId>ConsoleToolView</helpId>
            <initState>DOCKED</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
        </toolView>

    </extension>

</module>