<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s2tbx-spot-reader</symbolicName>
    <version>1.0.0</version>
    <name>SPOT Product Reader</name>

    <description>Enables SNAP to read SPOT 1-5 data products of type SpotScene or SpotView</description>

    <vendor>CS</vendor>
    <contactAddress>ZAC de la Grande Plaine,5 Rue Brindejonc des Moulinais, Toulouse Cedex 5, France </contactAddress>
    <copyright>(c) Copyright 2014 by CS and contributors.&lt;br/&gt;All rights reserved.</copyright>
    <url>https://earth.esa.int/web/sentinel-tbx/home</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <packaging>dir</packaging>

    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-geotiff</module>
    </dependency>
    <dependency>
        <module>snap-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>s2tbx-commons</module>
    </dependency>

    <categories>Reader, SPOT</categories>

    <extension point="snap-ui:actions">
        <action>
            <id>importSPOTSceneProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SPOTDimap</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <shortDesc>Import a SPOT DIMAP product</shortDesc>
            <helpId>mySPOTDimapProduct</helpId>
            <parent>importMultispectral</parent>
        </action>
    </extension>
    <extension point="snap-ui:actions">
        <action>
            <id>importSPOTViewProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SPOTView</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <shortDesc>Import a SPOT View product</shortDesc>
            <helpId>mySPOTViewProduct</helpId>
            <parent>importMultispectral</parent>
        </action>
    </extension>
    <extension point="snap-ui:actions">
        <action>
            <id>importSPOTTake5Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SPOTTake5</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <shortDesc>Import a SPOT4 Take5 product</shortDesc>
            <helpId>mySPOTTake5Product</helpId>
            <parent>importMultispectral</parent>
        </action>
    </extension>

    <extension point="snap-core:rgbProfiles">
        <rgbProfile>
            <name>SPOT</name>
            <red>XS1</red>
            <green>XS2</green>
            <blue>XS3</blue>
        </rgbProfile>
    </extension>

    <extension point="snap-ui:helpSets">
        <helpSet>
            <parent>s2tbx-help</parent>
            <path>doc/help/spotdimap.hs</path>
        </helpSet>
    </extension>

</module>
