<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s2tbx-app</symbolicName>
    <version>1.0.0</version>
    <name>Sentinel-2 Toolbox Application</name>

    <vendor>CS</vendor>
    <contactAddress>ZAC de la Grande Plaine,5 Rue Brindejonc des Moulinais, Toulouse Cedex 5, France </contactAddress>
    <copyright>(c) Copyright 2012-2014 by Brockmann Consult GmbH&lt;br/&gt;(c) Copyright 2014 by CS and contributors.&lt;br/&gt;All rights reserved.</copyright>
    <url>https://earth.esa.int/web/sentinel-tbx/home</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <description>Sentinel-2 Toolbox Display and Analysis Tool</description>

    <funding>European Space Agency</funding>

    <dependency>
        <module>snap-visat-rcp</module>
    </dependency>
    <dependency>
        <module>snap-core</module>
    </dependency>

    <categories>Application</categories>

    <extension point="snap-ceres-core:applications">
        <application id="S2tbxMain" class="org.esa.s2tbx.S2tbxMain"/>
    </extension>

    <extension point="snap-ui:applicationDescriptors">
        <applicationDescriptor>
            <applicationId>S2tbxMain</applicationId>
            <displayName>ESA S-2 Toolbox</displayName>
            <version>${s2tbx.version}</version>
            <buildId>${s2tbx.build.id}</buildId>
            <buildDate>${s2tbx.build.date}</buildDate>

            <frameIcons>
                /org/esa/s2tbx/images/s2tbx-icon-16.png,
                /org/esa/s2tbx/images/s2tbx-icon-32.png,
                /org/esa/s2tbx/images/s2tbx-icon-48.png,
                /org/esa/s2tbx/images/s2tbx-icon-64.png,
                /org/esa/s2tbx/images/s2tbx-icon-96.png,
                /org/esa/s2tbx/images/s2tbx-icon-128.png
            </frameIcons>
            <aboutImage>
                /org/esa/s2tbx/images/s2tbx-about.png
            </aboutImage>

            <excludedActions>
            </excludedActions>

            <excludedToolViews>
            </excludedToolViews>


        </applicationDescriptor>
    </extension>


    <extension point="snap-ui:layerSources">

    </extension>

    <extension point="snap-ui:layerEditors">

    </extension>

    <extension point="snap-ui:toolViews">


    </extension>

    <extension point="snap-ui:actions">



    </extension>

    <extension point="snap-ui:helpSets">
        <helpSet>
            <parent>s2tbx-help</parent>
            <id>Help</id>
            <path>doc/help/dat.hs</path>
        </helpSet>
    </extension>

</module>
