#if(!$mode.toString().equals("TOOLBOX"))
--mode
$mode
#else
$sourceProduct.FileLocation.ParentFile
#end
#if(!($resolution.toString().equals("ALL")))
--resolution
$resolution
#end
#if($datastrip)
--datastrip
$datastrip
#end
#if($tile)
--tile
$tile
#end
#if($outputDir)
--output_dir
$outputDir
#end
#if($workDir)
--work_dir
$workDir
#end
#if($imgDatabaseDir)
--img_database_dir
$imgDatabaseDir
#end
#if($resDatabaseDir)
--res_database_dir
$resDatabaseDir
#end
#if($processingCentre)
--processingCentre
$processingCentre
#end
#if($archivingCentre)
--archivingCentre
$archivingCentre
#end
#if($processingBaseline)
--processingBaseline
$processingBaseline
#end
#if($raw)
--raw
#end
#if($tif)
--tif
#end
#if($sceneOnly)
--sc_only
#end
#if($sceneClassification)
--sc_classic
#end
#if($sceneCog)
--sc_cog
#end
#if($crOnly)
--cr_only
#end
--GIP_L2A
#if($Use_L2A_GIPP)
$Use_L2A_GIPP
#else
$gip211L2A
#end
--GIP_L2A_SC
#if($Use_L2A_CAL_SC_GIPP)
$Use_L2A_CAL_SC_GIPP
#else
$gip211L2ACALSC
#end
--GIP_L2A_AC
#if($Use_L2A_CAL_AC_GIPP)
$Use_L2A_CAL_AC_GIPP
#else
$gip211L2ACALAC
#end
--GIP_L2A_PB
#if($Use_L2A_PB_GIPP)
$Use_L2A_PB_GIPP
#else
$gip211L2APB
#end