<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s2tbx-deimos-reader</symbolicName>
    <version>1.0</version>
    <name>DEIMOS-1 Product Reader</name>

    <description>Reads DEIMOS-1 products</description>

    <packaging>dir</packaging>

    <dependency>
        <module>s2tbx-commons</module>
    </dependency>

    <categories>Reader, DEIMOS</categories>

    <extension point="snap-ui:actions">
        <action>
            <id>importDEIMOSProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>DEIMOSDimap</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <shortDesc>Import a DEIMOS product</shortDesc>
            <helpId>myDEIMOSProduct</helpId>
            <parent>importMultispectral</parent>
        </action>
    </extension>

    <extension point="snap-core:rgbProfiles">
        <rgbProfile>
            <name>DEIMOS-1</name>
            <red>NIR</red>
            <green>Red</green>
            <blue>Green</blue>
        </rgbProfile>
    </extension>
<!--
    <extension point="snap-ui:helpSets">
        <helpSet>
            <parent>snap-beam-help</parent>
            <path>doc/help/spotdimap.hs</path>
        </helpSet>
    </extension>-->

</module>
